<h1>Welcome to Our App, <%= @user.name %>!</h1>
<p>
  Please click the link below to verify your email address:
</p>
<p>
  <%= link_to 'Verify Email', @url %>
</p>
<p>If you did not sign up for this account, please ignore this email.</p>
