<h1>Sign Up</h1>

<div>
  <%= link_to 'Sign Up as User', signup_user_path, class: 'btn btn-primary' %> 
</div>

<div>
  <%= link_to 'Sign Up as Organizer', signup_organizer_path, class: 'btn btn-secondary' %>
</div>
