<h1 class="text-3xl font-bold mb-6">New Location</h1>

<%= render 'form', location: @location %>

<%= link_to 'Back to Locations', locations_path, class: "mt-6 inline-block bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
